<h3>Buy A <%= package.name %> Ticket</h3>
	<%= form_with(model: [package, @ticket], local: true, id: "ticket-form") do |form| %>
		<%= form.hidden_field :package_id, value: package.id %>
		<script
	    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	    data-key="pk_test_uVfqwQnuzdbmMbLLDUlRFtH7"
	    data-amount="<%= package.price %>"
	    data-name="Demo Site"
	    data-description="Widget"
	    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
	    data-billing-address="true"
	    data-locale="auto">
	  </script>
	<% end %>