<div class="celebrate_image">
  <%= image_tag ("lets_celebrate.png") %>
</div>

<div class="photo_btn">
  <button type="button">Photos</button>
</div>

<div class="Halloween_image">
  <%= image_tag ("Halloween_party.png") %>

  <div class="text">
  <p>On Friday October 27th, 2017 we had our biggest fundraising event of the year: our famous Halloween party!</p>
  </div>

  <div class="photo_btn">
    <button type="button">Photos</button>
  </div>

  <div class="info">
    <p>For more information please contact Patu Zottolo at (305)877-7199 or email: info@lardocaminhousa.org</p>
  </div>

</div>


<div class="Sponsors">
  <%= image_tag ("sponsors.jpeg") %>
</div>

<div class="partners">
  <%= image_tag ("event_partners.jpeg") %>
</div>
