<div class="container">
  <div class="text-center well-lg background-white margin-top-50 drop-shadow">

<h1>New Album</h1>

<%= render 'form', album: @album %>

<%= link_to 'Back', albums_path %>

</div>
</div>
