<div class="background-white well well-lg pull-left drop-shadow margin-30">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets">
      <div class="row text-center">
          <div class="contact-detail-box">
            <i class="fa fa-th fa-5x text-colored"></i>
          </div>
        </div>
      </div>

<div class="contacts">
 <h1 class="text-center"><strong>Contact Us</strong></h1>
</div>

<div class="contact_info">
  <p class="text-center text-primary lead"><strong><span class="fa-phone">Lar do Caminho - USA +1 305 205-0077<strong></p>
  <p class="text-center lead">Secretary:</p>
  <dt class="text-center">Alexander Christiani</dt>
</div><br>

<div class="brazil-contact">
    <h2 class="text-center text-primary lead"><strong><span class="fa-phone">Lar do Caminho - Brazil + 55 11 5049-1502</strong></h2>
    <p class="text-center lead">Fundrasing Manager:</p>
    <dt class="text-center">Celi A. Camargo</dt>
</div><br>

<%= link_to image_tag('fb_icon', class: "img-responsive center-block", :size => "40x40"), 'https://www.facebook.com/LarDoCaminho'%>
</div>
