<div class="contacts">
  <h1>Contacts</h1>
</div>

<div class="contact_info">
  <p>Lar do Caminho - USA +1 305 205-0077</p>
  <p>Alexander Christiani</p>
  <p>Secretary</p>
</div>

<div class="brazil_contact">
    <h2>Lar do Caminho - Brazil + 55 11 5049-1502</h2>
    <p>Celi A. Camargo</p>
    <p>Fundrasing Manager</p>
</div>

<%= link_to image_tag('logo.jpg'), 'https://www.lardocaminhousa.org/' %>
<%= link_to  image_tag('fb_icon'), 'https://www.facebook.com/LarDoCaminho'%>
