<div class="container">
  <div class="text-center well-lg background-grey-tint margin-vert-30 drop-shadow radius-25">

<div class="container well-lg background-white margin-vert-20 drop-shadow radius-25">
      <div class="row">
          <div class="contact-detail-box">
          <h1 class="fa fa-th fa-5x"><strong>Contact Us</strong></h1>
          </div>
        </div>



<div class="contact_info margin-10">
  <p class="text-center text-primary lead">
    <strong>
      <span class="fa fa-phone">Lar do Caminho - USA
        <a href="tel:3052050077">+1 305.205.0077
        </a>
      </span>
    <strong>
  </p>
  <p class="text-center lead">Secretary: Alexander Christiani</p>
</div>

<div class="brazil-contact margin-10 row-centered">
  <p class="text-center text-primary lead">
    <strong>
      <span class="fa fa-phone">Lar do Caminho - Brazil
        <a href="tel:011551150491502"> +55 11.5049.1502
        </a>
      </span>
    <strong>
  </p>
    <p class="text-center lead">Fundrasing Manager: Celi A. Camargo<br>
  <div class="col-sm-6 col-centered lead">
    -  Lar-Do-Caminho in Brazil on Facebook<%= link_to image_tag('fb_icon', class: "pull-left", :size => "40x40"), 'https://www.facebook.com/LarDoCaminho'%>
  </div>
</p>
</div>

</div>
</div>
</div>
