
<div class="container drop-shadow bg">

  <div class="col-md-12 background-light-gray text-center padding-30">
    <div class="image-text-container">
        <%= image_tag( "our_team", {:style => 'width: 90%', class: 'drop-shadow' } ) %>
      <div class="image-text-centered">
        <p>Promoting the overall</p> <p>development of children</p> <p>in need</p>
      </div>
      </div>
    </div>


<div class="col-md-12 text-center background-white padding-top-40 drop-shadow"> <p><h2 class="">About Lar Do Caminho</h2></p></div>
<div id="aboutus" class="col-md-12 background-white padding-20 drop-shadow">
  <div class ="col-md-6 about_info pull-right padding-top-10 drop-shadow">

    <p>LAR DO CAMINHO USA is a fully registered public charity located in Miami, and  incorporated in
      the state of Florida as an IRS recognized 501(c)(3) non-taxable entity. Our mission is to raise
      funds for Lar do Caminho, an orphanage founded in Brazil in 1974 for the benefit of children whose
      families are unable to provide adequate childcare. The children are entrusted to the organization by
      court order. They are given not just shelter and basic needs, but are ensured a broad education,
      emphasizing character-building. We invest in the children’s potential by helping them to recover their
      self-esteem.<br>
      Lar do Caminho promotes the overall development of children at risk, throughout their formative years,
      and assures that they become fully and positively integrated into society.</p>

    <p>Over its 42 years, Lar do Caminho has emphasized a holistic approach to child rearing. The
      institution focuses on each child’s academic, physical, motor and intellectual development as
      well as their social interaction: concentrating on affection and friendship. The lives of over
      600 children have benefited from this extraordinary program.</p>

  </div>
  <div class="col-md-6 text-center padding-bottom-50">
    <%= image_tag( "about_drawing.png", { class: "drop-shadow" }) %>

  </div>
</div>




<!-- <div class="col-md-12 background-light-gray"> <p> </p> </div> -->

<div id="ourteam" class="col-md-12 background-white text-center padding-top-40 drop-shadow">
  <p></p>
<h2 class="padding-bottom-20">Our Team</h2>
<div class="col-md-12 background-white text-center">
<div class="col-md-1"> <p></p> </div>
  <div class="col-md-4 text-center">
    <h3><p class="bottom-border-shadow">Board of Directors</p></h3>
    <p>President - Patricia S. Zottolo</p>
    <p>Vice-President - Gabriela Cheli</p>
    <p class="background-light-gray">Treasurer - Patricia Salles</p>
    <p>Secretary - Alexander Christiani</p>
  </div>
  <div class="col-md-1"> <p></p> </div>
  <div class=" col-md-5 text-center padding-bottom-30">
    <h3><p class="bottom-border-shadow">Committee Chairs</p></h3>
    <div class="pull-left text-center">
      <p>Patricia Troster Alves</p>
      <p>Dea Aquino-Birnberg</p>
      <p>Elizabeth Kuhn Deakin</p>
      <p>Liliana Kawase</p>
      <p>Claudia Leme</p>
    </div>
    <div class="pull-right text-center">
      <p>Luciana Ribenboim</p>
      <p>Liana Rivas</p>
      <p>Sueli Roberts</p>
      <p>Mayra Roubach</p>
      <p>Iara Vilela Silva</p>
    </div>
    <div class="text-center">
      <p>Luciana Mendes</p>
      <p>Maria Eliza Monteiro</p>
      <p>Irany Pinheiro​​</p>
      <p>Cristina Simoes</p>
      <p>Cecilia Vivacqua</p>
      <p>Debora S. Zottolo</p>
    </div>
  </div>
  <div class="col-md-1"> <p> </p> </div>
</div>
<div class="col-md-12 background-white text-center drop-shadow padding-bottom-50">
  <!-- <div class="col-md-6 text-center"> -->
    <%= image_tag( "drawing", {:style => 'width: 45%', class: "drop-shadow" }) %>
  <!-- </div> -->
</div>

</div>
</div>
