<!DOCTYPE html>
<html>
<head>
  <title>Lar-Do-Caminho</title>
  <link rel="icon" type="image/png" href="/assets/favicon.png">

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body>
  <div id="body-bg">
    <!-- Pre-header -->
    <div id="pre-header" class="background-gray">
      <div class="container no-padding">
        <div class="row hidden-xs">
          <div class="col-sm-6 padding-vert-5">
            <strong>LAR DO CAMINHO USA</strong>
          </div>
          <div class="col-sm-6 text-right padding-vert-5">
            <strong>Email:</strong>&nbsp;<a href="mailto:admin@lardocaminhousa.org">admin@lardocaminhousa.org</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Pre-header -->
    <!-- Header -->
    <div id="header">
      <div class="container col-md-0 no-padding">
        <div class="row">
          <!-- Logo -->
          <!-- <div class="logo">
            <a href="index.html" title="">
              <a href="#">
                <img src="assets/favicon.png" class="ldclogo" alt="Logo" />
              </a>
          </div> -->
              <!-- Top Menu -->
              <div id="hornav" class="bottom-border-shadow">
                <div class="container no-padding border-bottom">

                  <div class="row">

                    <div class="col-md-0">
                      <ul class="social-icons rounded pull-right">


                        <a href="http://www.facebook.com/lardocaminhousa"  title="Facebook"> <li> <i class="fa fa-facebook fa-2x">
                        </li></i></a>

                        <a href="http://www.instagram.com/lardocaminhousa" title="Instagram"> <li> <i class="fa fa-instagram fa-2x">
                        </i></li></a>
                      </ul>
                    </div>
                                      <img src="assets/favicon.png" class="ldclogo" alt="Logo" />
                    <div class="col-md-9 no-padding pull-right">

                      <div class="visible-lg">
                        <ul id="hornavmenu" class="nav navbar-nav">
                          <li>
                            <!-- < if current_user > -->
                            <!-- Signed in as <= current_user.username >. -->
                            <i class="fas fa-sign-out">
                            <!-- <= link_to "Log out", sessions_path("current"), :method => :delete > -->
                            </i>
                            <a href="#" class="">Log out</a>
                            <!-- < else >
                            < end > -->
                          </li>
                          <li>
                            <a href="#" class="fa fa-home">Home</a>
                          </li>
                          <li>
                            <a href="#aboutus" class="fa fa-info-circle">About</a>
                            <ul>

                              <li>

                                <a href="#ourteam"><i class="fas fa-users"></i>Our Team</a>

                              </li>

                            </ul>
                          </li>

                          <li>
                            <a href="#portfolio" class="fa fa-picture-o">Gallery</a>
                          </li>

                          <li>
                            <a href="#events" class="fa fa-bullhorn">Events</a>
                          </li>

                          <li>
                            <a href="#donate" class="fa fa-gift">Donate</a>

                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- End Header -->


      </div>
<div class="main">

  <svg width="1000" height="500">
    <defs>
    <filter id="filter" filterUnits="userSpaceOnUse" x="0" y="0" height="200" width="700">
      <feTurbulence baseFrequency="0.2" numOctaves="4" type="fractalNoise" />
      <feDisplacementMap  scale="8"  xChannelSelector="R" in="SourceGraphic" />

    </filter>
    </defs>
    <path d="M 175 200 l 150 0" stroke="yellow" stroke-width="10" style="filter:url(#filter)"/>

      <%= yield %>
</div>

      <!-- Footer -->
      <div id="footer" class="background-grey">
        <div class="container">
          <div class="row">
            <!-- Footer Menu -->
            <div id="footermenu" class="col-md-8">
              <p class="pull-left">&copy; Lar-Do-Caminho All rights reserved.</p>
            </div>
            <!-- End Footer Menu -->

            <div id="copyright" class="col-md-4">
              <p class="pull-right">
                Design: <a href="https://github.com/eddyleme/lar-do-caminho">Wyncoders</a></p>
              </div>

            </div>
          </div>
        </div>
      </body>
      </html>
