<!DOCTYPE html>
<html>
  <head>
    <title>Lar-Do-Caminho</title>
    <link rel="icon" type="image/png" href="/assets/favicon.png">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="body-bg">
        <!-- Pre-header -->
        <div id="pre-header" class="background-gray-lighter">
            <div class="container no-padding">
                <div class="row hidden-xs">
                    <div class="col-sm-6 text-left padding-vert-5">
                        <strong>LAR DO CAMINHO USA</strong>
                    </div>
                    <div class="col-sm-6 text-right padding-vert-5">
                        <strong>Email:</strong>&nbsp;<a href="mailto:admin@lardocaminhousa.org">admin@lardocaminhousa.org</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Phone/Email -->
        <!-- Header -->
        <div id="header">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-md-12 no-padding">

                            <img src="assets/favicon.png"  alt="Logo" style="padding-top: 0px;" />
                        </a>

                            <img src="assets/img/donatebutton.jpg"  alt="Donate" style="padding-top: 0px;" />
                        </a>
                    </div>
                    <!-- End Logo -->
                </div>
            </div>
        </div>
        <!-- End Header -->
        <!-- Top Menu -->
        <div id="hornav" class="bottom-border-shadow">
            <div class="container no-padding border-bottom">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="visible-lg">
                        <ul id="hornavmenu" class="nav navbar-nav" style="width: 900px;">
                            <li>
                                <a href="#" class="fa-home">Home</a>
                            </li>
                            <li>
                                <a href="#aboutus"><span class="fa-info-circle">About</span></a>
                <ul>

                                            <li>
                                                <a href="#ourteam" class="">Our Team</a>
                                            </li>



                                    </ul>
                            </li>

                    <li>
                      <a href="#portfolio" class="fa-picture-o">Gallery</a>
                    </li>

                    <li>
                      <a href="#contact" class="fa-bullhorn">Volunteer</a>
                    </li>
                    <li>
                      <a href="#events" class="fa-check">Voter Info</a>
                    </li>




                            <li>
                                <a href="#donate" class="fa-gift">Donate</a>

                            </li>

                        </ul>
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <ul class="social-icons pull-right">

                            <li class="social-facebook">
                                <a href="http://www.facebook.com/lardocaminhousa" target="_blank" title="Facebook"></a>
            </li>
                            <li class="social-instagram">
                                <a href="http://www.instagram.com/lardocaminhousa" target="_blank" title="Instagram"></a>
            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</div>

    <%= yield %>
  </body>
</html>
